<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<!-- the successMessage should be used by the redirect flash attribute to display a success message -->
	<div th:if="${successMessage} != null" class="bg-success">
		<p class="lead">Success</p>
		<p  th:text="${successMessage}">success message</p>
	</div>
	<div th:if="${errorMessage} != null" class="bg-danger">
		<p class="lead">Error</p>
		<p  th:text="${errorMessage}">error message</p>
	</div>
	<!-- this is where the main content will be inserted for specific pages -->
    <div layout:fragment="content">
        <p>Content goes here...</p>
    </div>
    <footer>
        <div th:replace="fragments/footer :: footer">&copy; 2017 blog.codeleak.pl</div>
    </footer>
</div>
<!-- this allows page specific scripts to be inserted at the bottom of the page to not impact page loads -->
<th:block layout:fragment="script"></th:block>
</body>
</html>