<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<!-- the layout:decorate command above tells this page which layout to use -->
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    
</head>
<body>
<!-- Header -->
<div>
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional.                                           -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Insert content into the layouts/layout.html
 since we are referencing the ~{layouts/layout} as the overall layout, this is the only html that will be used on the page -->
<th:block layout:fragment="content">
	<div class="container">
    <!-- the th:object is our object to bind with spring on the post -->
    <form action="#" th:action="@{/jason}" th:object="${assetForm}" method="post">
	    <div class="row form-group">
	    	<div class="col-xs-4">
	    		<label for="assetForm-title">Title</label>
	    		<!-- note the *{title} * is called a selection expression used to reference variables within the th:object referenced above. 
	    		only one th:object can be used per form since nested forms are not allowed -->
	    		<input id="assetForm-title" type="text" value="prototype holder" th:field="*{title}"  th:required="${isTitleRequired == true}" />
	    	</div>
	    	<div class="col-xs-4">
	    		<label for="assetForm-description">Description</label>
	    		<input id="assetForm-description" type="text" value="prototype holder" th:field="*{description}"/>
	    	</div>
	    </div>
	    <div class="row form-group">
	    	<button type="submit" class="btn btn-default">Submit</button>
	    </div>
    </form>
    <div class="row form-group">
    	<div class="col-xs-4">
    		<button id="ajax-html-btn" class="btn btn-primary">Ajax inserting html</button>
    	</div>
    	
    </div>
    <div id="ajax-html"><!-- js will insert html in here using a fragment --></div>
    <div class="row form-group">
    	<div class="col-xs-4">
    		<button id="ajax-json-btn" class="btn btn-primary">Ajax with json</button>
    	</div>
    	
    </div>
    <div id="ajax-json" class="row"><!-- js will get back json and insert in here --></div>
    <br>
    <br>
    </div>
</th:block>
<!-- this block will insert our script tags at the bottom of the overall page in the layout.html -->
 <th:block layout:fragment="script">
            <script src="../../js/jason/jason_index.js"
            th:src="@{/js/jason/jason_index.js}"></script>
       </th:block>
</body>

</html>